{
      "GUID": "{{ this.getGUID() }}",
      "Name": "Custom_Board",
      "Transform": {
        "posX": {{ this.geometry.getPosX() }},
        "posY": {{ this.geometry.getPosY() }},
        "posZ": {{ this.geometry.getPosZ() }},
        "rotX": {{ this.geometry.getRotX() }},
        "rotY": {{ this.geometry.getRotY() }},
        "rotZ": {{ this.geometry.getRotZ() }},
        "scaleX": {{ this.geometry.getScaleX() }},
        "scaleY": {{ this.geometry.getScaleY() }},
        "scaleZ": {{ this.geometry.getScaleZ() }}
      },
      "Nickname": "",
      "Description": "",
      "GMNotes": "",
      "AltLookAngle": {
        "x": 0.0,
        "y": 0.0,
        "z": 0.0
      },
      "ColorDiffuse": {
        "r": 0.7867647,
        "g": 0.7867647,
        "b": 0.7867647
      },
      "LayoutGroupSortIndex": 0,
      "Value": 0,
      "Locked": true,
      "Grid": true,
      "Snap": true,
      "IgnoreFoW": false,
      "MeasureMovement": false,
      "DragSelectable": true,
      "Autoraise": true,
      "Sticky": true,
      "Tooltip": true,
      "GridProjection": false,
      "HideWhenFaceDown": false,
      "Hands": false,
      "CustomImage": {
        "ImageURL": "{{ this.imageURL }}",
        "ImageSecondaryURL": "",
        "ImageScalar": 1.0,
        "WidthScale": 1.0
      },
      "LuaScript": "",
      "LuaScriptState": "",
      "XmlUI": ""
}